{% extends 'base.html' %}
{% block title %}Home
{% endblock title %}
{% block body %}
<div class="container-fluid px-0">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://source.unsplash.com/1600x600/?books" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
        <h4>Why Indian book store?</h4>
        <p>IndiaBookStore is the fastest way to compare book prices and buy books from online book sellers in India. .</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://source.unsplash.com/1600x600/?library" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h4>Why Indian book store?</h4>
        <p>We aggregate information like best deals, reviews and ratings from popular  online bookstores </p> </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://source.unsplash.com/1600x600/?books" alt="Third slide">
    <div class="carousel-caption d-none d-md-block">
        <h4>Why Indian book store?</h4>
        <p>Type the book title in the search box above. For better results, also provide author name along with book.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://source.unsplash.com/1600x600/?bookstore" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://source.unsplash.com/1600x600/?library" alt="Second slide">
    </div>
  </div>
</div></div>


<div class="container my-3">
<h1 class="my-4 text-center">Select from the range of Books</h1>
      <div class="row">
        <div class="col-md-4">
        <img class="d-block w-100" src="https://source.unsplash.com/900x900/?books" alt="First slide">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="d-block w-100" src="https://source.unsplash.com/900x900/?reading" alt="First slide"><div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <img class="d-block w-100" src="https://source.unsplash.com/900x900/?library" alt="First slide"><div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="d-block w-100" src="https://source.unsplash.com/900x900/?bookshop" alt="First slide"><div class="card-body">
              <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        
        
        

        
    {% endblock body %}